*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.categorias{
    display: flex;
    gap: 20px;
    list-style: none;    
}

.categoria{
    list-style: none;    
}

.home{
    font-size: 1.5rem;
}

a {
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;
}

.imagen-carrito {
    position: relative;
}

.numero {
    position: absolute;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 2rem;
}